{
  "presets": ["react-app"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "components": "./src/components",
        "assets": "./src/assets",
      }
    }]
  ]
}